@font-face {
    font-family: 'MuliRegular';
    src: url(../assets/fonts/Muli-Regular.woff);
    font-display: swap;
}

@font-face {
    font-family: 'MuliItalic';
    src: url(../assets/fonts/Muli-Italic.ttf);
}

@font-face {
    font-family: 'MuliBold';
    src: url(../assets/fonts/Muli-Bold.ttf);
}

@font-face {
    font-family: 'MuliExtraBold';
    src: url(../assets/fonts/Muli-ExtraBold.woff);
}

@font-face {
    font-family: 'MuliBoldItalic';
    src: url(../assets/fonts/Muli-BoldItalic.ttf);
}

@font-face {
    font-family: 'MuliSemiBoldItalic';
    src: url(../assets/fonts/Muli-Semi-BoldItalic.ttf);
}
body {
    color: #fff;
}

.header {
    /*background-image: url(../assets/images/header/header-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/
    background: url(../assets/images/header/header-img.jpg) no-repeat center/cover;
    height: 100vh;
}

.header__top {

}

.header__nav {
    /*В этом столбце данные из Zeplin:
    width: 540px;
    height: 11px;
    margin: 31px 180px 135px 100px;
    font-family: Muli;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: left;*/
    font-size: 16px;
    line-height: 2.5;
    letter-spacing: /*0.32px; округлила*/ 0.30px; 
    color: #ffffff;

    font-family: 'MuliBold'; /*подключен с пом. @font-face*/
    text-transform: uppercase;
}

.nav {

}
.nav__list {

}
.nav__item {

}
.nav__link {

}

.header__logo {

}

.logo {

}

.logo__link {

}

.logo__img {
    /*В этом столбце данные из Zeplin:
    width: 211px;
    height: 72px;
    margin: 0 123px 105px 199px;*/
    object-fit: contain;
}

.header__right-block {

}

.header__personal {

}

.personal {

}

.personal__list {

}
.personal__item {

}

.personal__link {

}

.personal__search-icon {
    /*В этом столбце данные из Zeplin:
    width: 20px;
    height: 20px;
    margin: 11px 47px 8px 0;
    background-color: #ffffff;*/

}

.personal__user-icon {
    /*В этом столбце данные из Zeplin:
    width: 20px;
    height: 24px;
    margin: 9px 45px 6px 47px;
    background-color: #ffffff;*/

}

.personal__cart-icon {
    /*В этом столбце данные из Zeplin:
    width: 24px;
    height: 22px;
    margin: 11px 48px 6px 45px;
    background-color: #ffffff;*/
}

.personal__cart-count {
    /*В этом столбце данные из Zeplin:  
    width: 18px;
    height: 18px;
    margin: 0 33px 3px 66px;
    padding: 5px 6px 6px;
    background-color: #ffffff;*/
}

.header__socials {

}

.socials {

}

.socials__list {

}

.socials__item {

}

.socials__link {
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.socials__icon {
    width: 10px;
    height: 17px;
    /*В этом столбце данные из Zeplin: 
    width: 10px;
    height: 17px;
    background-color: #434343;*/
}

.socials__pinterest-icon {
    /*В этом столбце данные из Zeplin:
    width: 16px;
    height: 19px;
    background-color: #434343;*/
}

.socials__instagram-icon {
    /*В этом столбце данные из Zeplin:
    width: 18px;
    height: 18px;
    background-color: #434343;*/
}

.header__content {

}

.header__btn {
    /*В этом столбце данные из Zeplin:;
    margin: 105px 84px 56px 169px;
    width: 117px;
    текст:;
    height: 23px;
    margin: 0 55px 0 0;
    font-family: Muli;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    */padding: 0 40px;
    width: 280px;
    height: 70px;
    border-radius: 35px;
    letter-spacing: /*-0.48px;*/ 0;
    line-height: /*1.67;*/ 1.7;
    font-size: 24px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}

.btn {

}

.btn--green {
    /*В этом столбце данные из Zeplin:*/
    background-color: #0aa566;
    color: #ffffff;
    font-family: 'MuliExtraBold';
}













.smoothies {
}
.smoothies__title {
    font-size: 50px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #f7ae3b;
    text-align: center;
}
.smoothies__text {
    font-size: 18px;
    line-height: 35px;
    font-weight: 400;
    color: #1e1e1e;
    text-align: center;
}
.text {
}
.smoothies__wrapper {
    display: flex;
}
.smoothies__inner {
}
.smoothies__img {
    width: 72px;
    height: 66px;
}
.smoothies__subtitle {
    font-size: 25px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #f2612d;
}
.smoothies_img {
}




.about {
    background-color:#14826f;
}
.about__img {
    width: 691px;
    height: 818px;
}
.about__benefits {

}
.about__title {
    font-size: 55px;
    line-height: 60px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.about__title-yellow {
    font-size: 55px;
    line-height: 60px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #cae941;
}

.about__list {
    font-size: 21px;
    line-height: 22px;
    font-weight: 800;
    color: #ffffff;
}
.about__item {
}
.about__item-bold {
    font-weight: 400;
}

.about__btn {
    font-size: 21px;
    line-height: 22px;
    font-weight: 800;
    color: #ffffff;
}


.products {
}
.products__wrapper {
}
.products__wrap {
}
.products__wrap--chocolate {
    background-color: #632b17;
}
.products__img {
    width: 119px;
    height: 303px;
}
.products__title {
    font-size: 24px;
    line-height: 22px;
    font-weight: 700;
    color: #ffffff;
}
.products__quantity {
    color: #ffffff;
    font-size: 21px;
    line-height: 32px;
    font-weight: 400;
    font-style: italic;
}
.products__btn {
    font-family: Muli;
    font-size: 21px;
    line-height: 22px;
    font-weight: 800;
    color: #ffffff;
    width: 207px;
    height: 63px;
    border: 2px solid #ffffff;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.products__wrap--vegan {
    background-color: #178670;
}
.products__wrap--lemon {
    background-color: #f7ae3b;
}
.products__wrap--turmeric {
    background-color:#c3471b;
}

.story {
}
.story__wrapper {
}
.story__title {
    font-size: 50px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #f7ae3b;
}
.title {
}
.title--orange {
}
.story__text {
    font-size: 18px;
    line-height: 35px;
    font-weight: 400;
    color: #1e1e1e;
}
.story__btn {
}
.btn {
}
.btn--green {
}
.story__box {
}
.story__img {
    width: 585px;
    height: 601px;
}
.testimonials {
    background-color:#672f1b;
}
.testimonials__title {
    font-size: 50px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #f7ae3b;
}

.title--orange {
    color: #f2612d;
}

.feedback {

}

.feedback__inner {

}
.feedback__blockquote {
    font-size: 18px;
    line-height: 35px;
    font-weight: 400;
    color: #ffffff;
}
.feedback__author {
    font-size: 18px;
    line-height: 45px;
    font-weight: 600;
    font-style: italic;
    color: #f7ae3b;
}

.feedback__photo {
}
.feedback__img {
}
.testimonials_btn {
}
.btn {
}
.btn--left {
}
.btn--right {
}
.blog {
}
.blog__left-block {
}
.blog__title {
    font-size: 50px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #f7ae3b;
}
.blog__right-block {
}
.blog__img {
    width: 555px;
    height: 400px;
}
.blog__article {
}
.article {
}
.article__title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #f2612d;
}
.article__datetime {
    font-size: 16px;
    line-height: 35px;
    font-weight: 400;
    color: #1e1e1e;
}
.article__text {
    font-size: 18px;
    line-height: 35px;
    font-weight: 400;
    color: #1e1e1e;
}
.article__link {
    font-weight: 800;
    font-style: italic;
}
.instagram {
}
.instagram__title {
    font-size: 24px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #0aa566;
}
.instagram__link {
}
.instagram__wrapper {
    display: flex;
}
.instagram__photo {
}
.instagram__img {
    width: 384px;
    height: 384px;
    /*opacity: 0.4;*/
}
.footer {
    background-color: #f6ab3b;
}
.footer__logo {
}
.logo {
}
.logo__link {
}
.logo__img {
}
.footer__information {
}
.information {
}
.footer__title {
    font-size: 26px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #ffffff;
}
.information__list {
    font-size: 18px;
    line-height: 35px;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #6d450c;
}
.information__item {
}
.footer__payment {
}
.payment {
}
.footer__title {
}
.payment__list {
}
.payment__item {
}
.payment__img {
}
.footer__subscription {
}
.subscription {
}
.footer__title {
}
.subscription__form {
    width: 498px;
    height: 63px;
    background-color: #ffffff;
    border-radius: 30px;
}
.subscription__input {
    font-size: 17px;
    line-height: 35px;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #6d450c;
}
.subscription__submit {
    font-size: 18px;
    line-height: 40px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    color: #6d450c;
}
.footer__social {
}
.social {
}
.social__list {
}
.social__item {
    /*width: 26px;
    height: 26px;
    background-color: #ffffff;*/
}
.social__link {
}
.social__img {
}
.footer__bottom {
    background-color: #6c2c1c;
}
.footer__copyright {
    /*width: 178px;
    height: 13px;
    margin: 1px 660px 0 0;*/
    font-family: 'MuliRegular';
    font-size: 13px;
    line-height: /*2.69;*/ 2.70;
    letter-spacing: /*0.26px;*/ 0.30px;
    text-align: center;
    color: #af8a82;
}
.footer__link {
}