@font-face {
    font-family: 'MuliRegular';
    src: url(../assets/fonts/Muli-Regular.woff);
    font-display: swap;
}

@font-face {
    font-family: 'MuliItalic';
    src: url(../assets/fonts/Muli-Italic.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'MuliBold';
    src: url(../assets/fonts/Muli-Bold.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'MuliExtraBold';
    src: url(../assets/fonts/Muli-ExtraBold.woff);
    font-display: swap;
}

@font-face {
    font-family: 'MuliBoldItalic';
    src: url(../assets/fonts/Muli-BoldItalic.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'MuliSemiBoldItalic';
    src: url(../assets/fonts/Muli-Semi-BoldItalic.ttf);
    font-display: swap;
}

.header {
    background: url(../assets/images/header/header-img.jpg) no-repeat center/cover;
    height: 100vh;
}

.header__top {
    padding: 70px 100px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__nav {}

.nav {}

.nav__list {
    display: flex;
    column-gap: 35px;
}

.nav__item {}

.nav__link {
    font-size: 16px;
    font-family: 'MuliBold', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.logo {}

.logo__link {}

.logo__img {}

.header__right-block {
    display: flex;
    column-gap: 100px;
    align-items: center;
}

.header__personal {}

.personal {}

.personal__list {
    column-gap: 45px;
    display: flex;
}

.personal__item {
    margin-right: 45px;
    position: relative;
}

.personal__link {
    display: flex;
}

.personal__icon {
}

.personal__cart-count {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 10px;
    color: #000000;
    position: absolute;
    top: -12px;
    left: 20px;
}

.header__socials {}

.socials {}

.socials__list {
    display: flex;
    column-gap: 10px;
}

.socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 35px;
    max-width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
}

.socials__icon {}

.socials__pinterest-icon {}

.socials__instagram-icon {}

.header__content {
    display: flex;
    justify-content: center;
}

.header__btn {
    width: 280px;
    height: 70px;
}

.btn {
    font-family: 'MuliExtraBold', sans-serif;
    border-radius: 35px;
    font-size: 24px;
    padding: 0 38px;
    font-family: 'MuliExtraBold', sans-serif;
}

.btn--green {
    background-color: #0aa566;
}


.smoothies {
    padding: 100px 0 60px;
}

.smoothies__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.smoothies__title {
    text-align: center;
    margin-bottom: 55px;
}

.title {
    font-family: 'MuliExtraBold', sans-serif;
    font-size: 50px;
    line-height: 0.8;
    letter-spacing: -1px;
}

.title--orange {
    color: #f7ae3b;
}

.smoothies__text {
    margin-bottom: 60px;
    max-width: 915px;
    line-height: 1.94;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.text {
    font-family: 'MuliRegular', sans-serif;
    font-size: 18px;
}

.text--black {
    color: #1e1e1e;
}

.smoothies__wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1010px;
    justify-content: center;
    align-items: center;

    height: 400px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.smoothies__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 190px;
    width: 25%;
    padding: 0 10px 25px;
}

.smoothies__img {}

.smoothies__subtitle {
    font-family: 'MuliExtraBold', sans-serif;
    font-size: 25px;
    line-height: 1.6;
    letter-spacing: -0.5px;
    color: #f2612d;
    text-align: center;
    margin-top: 25px;
}






.about {
    background-color: #14826f;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about__img {
    margin-right: 179px;
}

.about__benefits {
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.about__title {
    font-size: 55px;
    line-height: 1.09;
    letter-spacing: -1.1px;
    margin-top: 97px;
    margin-bottom: 68px;
    max-width: 600px;
}

.title--yellow {
    color: #cae941;
}

.about__list {}

.about__item {
    font-family: 'MuliRegular', sans-serif;
    font-size: 21px;
    line-height: 1.05;
    list-style-image: url(../assets/images/about/item.png);
    list-style-position: inside;
    margin-bottom: 50px;
}

.about__item--bold {
    font-family: 'MuliExtraBold', sans-serif;
}

.about__btn {
    border: solid;
    border-color: #f8b231;
    font-family: 'MuliExtraBold', sans-serif;
    font-size: 21px;
    line-height: 1.05;
    width: 380px;
    height: 60px;
    margin-bottom: 94px;
}

.btn {}

.products {}

.products__box {
display: flex;
}

.products__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products__item--chocolate {
    background-color: #632b17;
}

.products__img {
    margin-top: 129px;
    margin-bottom: 34px;
}

.products__title {
    font-family: 'MuliBold', sans-serif;
    font-size: 24px;
    line-height: 0.92;
    letter-spacing: normal;
    text-align: center;
}

.products__quantity {
    font-family: 'MuliItalic', sans-serif;
    font-size: 21px;
    line-height: 1.52;
    text-align: center;
}

.products__btn {
    width: 204px;
    height: 60px;
    border-radius: 30px;
    border: solid 2px #fff;
    margin-top: 65px;
    margin-bottom: 79px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.products__item--vegan {
    background-color: #178670;
}

.products__item--lemon {
    background-color: #f7ae3b;
}

.products__item--turmeric {
    background-color: #c3471b;
}




.story {
    display: flex;
    justify-content: center;
    align-items: center;
}

.story__left-block {}

.story__title {
    margin-top: 260px;
}

.title--orange {}

.story__text {
    font-family: 'MuliRegular', sans-serif;
    font-size: 18px;
    line-height: 1.94;
    letter-spacing: normal;
    margin-right: 206px;
    max-width: 511px;
    text-align: left;
    margin-top: 43px;
}

.text {}

.text--black {
    color: #1e1e1e;
}

.story__btn {
    margin-top: 60px;
    width: 301px;
    height: 60px;
    border-radius: 30px;
    margin-bottom: 292px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.story__right-block {}

.story__img {}









.testimonials {
    background-color: #672f1b;
    padding: 100px 0 150px 0;
}

.testimonials__title {
    font-family: 'MuliExtraBold', sans-serif;
    font-size: 50px;
    line-height: 0.8;
    letter-spacing: -1px;
    color: #f7ae3b;
    text-align: center;
}

.title--red-orange {
    color: #f2612d;
}

.testimonials__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.testimonials__feedback {
    margin-top: 183px;

}

.testimonials__blockquote {
    font-family: 'MuliRegular', sans-serif;
    font-size: 18px;
    line-height: 1.94;
    letter-spacing: normal;
    max-width: 455px;
}

.testimonials__author {
    color: #f7ae3b;
    font-family: 'MuliSemiBoldItalic', sans-serif;
    line-height: 45px;
}

.testimonials__img {
    margin-left: 59px;
    margin-top: 118px;
}

.testimonials__controls {}

.testimonials__btn {}

.btn--right {}





.blog {
    padding: 100px 0 0 0;
    display: flex;
    justify-content: center;
}

.blog__left-block {
    display: flex;
    flex-direction: column;
}

.blog__title {
    margin-bottom: 49px;
}

.blog__img {

}

.article {
    margin-top: 181px;
}

.article__title {
    font-family: 'MuliExtraBold', sans-serif;
    font-size: 30px;
    line-height: 1.33;
    letter-spacing: -0.6px;
    text-align: left;
    color: #f2612d;
    margin-left: 61px;
}

.article__time {
    font-family: 'MuliRegular', sans-serif;
    font-size: 16px;
    line-height: 2.19;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
    margin-left: 61px;
}

.article__text {
    font-family: 'MuliRegular', sans-serif;
    font-size: 18px;
    line-height: 1.94;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
    max-width: 472px;
    margin-left: 124px;
    margin-top: 45px;
}

.article__link {
    font-family: 'MuliBoldItalic', sans-serif;
}


.instagram {
    padding: 100px 0 0 0;
}

.instagram__title {
    font-family: 'MuliExtraBold', sans-serif;
    font-size: 24px;
    line-height: 1.67;
    letter-spacing: -0.48px;
    text-align: center;
    margin-bottom: 45px;
}

.title--green {
    color: #0aa566;
}

.instagram__link {}

.instagram__wrapper {
    display: flex;
}

.instagram__photo {
    flex-grow: 1;
}

.instagram__img {
    width: 100%;
}






.footer {

}

.footer__top {
    background-color: #f6ab3b;
    display: flex;
    justify-content: center;
    padding: 60px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__logo {
    display: flex;
    align-items: center;
    /* justify-content: center;
    flex-basis: 29%*/
}

.logo {
}

.logo__link {}

.logo__img {}

.footer__info {
    display: flex;
    flex-direction: column;
    /*flex-basis: 14%;*/
}

.info {
}

.info__title {
    font-family: 'MuliExtraBold', sans-serif;
    font-size: 26px;
    line-height: 1.54;
    letter-spacing: -0.52px;
    }

.info__list {
    margin-top: 45px;
    font-family: 'MuliBold', sans-serif;
    font-size: 18px;
    line-height: 1.94;
    letter-spacing: -0.02em;
    color: #6d450c;
}

.info__item {}

.footer__payment {
    display: flex;
    flex-direction: column;
}

.payment {
    
}

.payment__title {
    font-family: 'MuliBold', sans-serif;
    font-size: 26px;
    line-height: 1.54;
    letter-spacing: -0.52px;
}

.payment__list {
    margin-top: 32px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 270px;
}

.payment__item {}

.payment__img {}

.footer__subscription {
    flex-basis: 28%;
    position: relative;
}

.subscription {
}

.subscription__title {
    font-family: 'MuliBold', sans-serif;
    font-size: 26px;
    line-height: 1.54;
    letter-spacing: -0.52px;
}

.subscription__form {
    margin-top: 35px;
    position: relative;
}

.subscription__input {
    max-width: 495px;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    /*background-color: #ffffff;*/
    border: none;
    font-family: 'MuliBold', sans-serif;
    font-size: 17px;
    line-height: 2.06;
    letter-spacing: -0.34px;
    color: #6d450c;
    padding-left: 63px;
    margin-bottom: 20px;
}

.subscription__submit {
    font-family: 'MuliExtraBold', sans-serif;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #6d450c;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    position: absolute;
    left: 90px;
    bottom: -51px;
}

.subscription__wrap {
    display: flex;
    justify-content: flex-end;
}

/*.subscription__btn {
    font-family: 'MuliBold', sans-serif;
    font-size: 18px;
    line-height: 2.22;
    letter-spacing: -0.36px;
    color: #6d450c;
    margin-top: 27px;
}*/

.subscription__social {
    /*margin-left: 43px;
    margin-top: 27px;*/
    position: absolute;
}

.social {
    
}

.social__list {
    display: flex;
    gap: 25px;
}

.social__item {}

.social__link {}

.social__icon {}

.footer__bottom {
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    background-color: #6c2c1c;
}

.footer__copyright {
    font-family: 'MuliRegular', sans-serif;
    font-size: 13px;
    line-height: 2.69;
    letter-spacing: 0.26px;
    color: #af8a82;
}

.footer__link {

}