@font-face {
    font-family: 'MuliRegular';
    src: url(../assets/fonts/Muli-Regular.woff);
    font-display: swap;
}

@font-face {
    font-family: 'MuliItalic';
    src: url(../assets/fonts/Muli-Italic.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'MuliBold';
    src: url(../assets/fonts/Muli-Bold.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'MuliExtraBold';
    src: url(../assets/fonts/Muli-ExtraBold.woff);
    font-display: swap;
}

@font-face {
    font-family: 'MuliBoldItalic';
    src: url(../assets/fonts/Muli-BoldItalic.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'MuliSemiBoldItalic';
    src: url(../assets/fonts/Muli-Semi-BoldItalic.ttf);
    font-display: swap;
}

.header {
    background: url(../assets/images/header/header-img.jpg) no-repeat center/cover;
    height: 100vh;
}

.header__top {
padding: 70px 100px 100px;
display: flex;
justify-content: space-between;
align-items: center;
position: relative;
}

.header__nav {
    
}

.nav {
}

.nav__list {
    display: flex;
    column-gap: 35px;
}

.nav__item {
    /*margin - расстояние между элементами*/
}

.nav__link {
    font-size: 16px;
    /*line-height: 2.5;
    letter-spacing: 0.30px;*/
    font-family: 'MuliBold', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.header__logo { 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    -webkit-transform: translate(-50%, -50%); 
    -moz-transform: translate(-50%, -50%); 
    -ms-transform: translate(-50%, -50%); 
    -o-transform: translate(-50%, -50%);
}

.logo {

}

.logo__link {

}

.logo__img {
}

.header__right-block {
    display: flex;
    column-gap: 100px;
    align-items: center;
}

.header__personal {

}

.personal {

}

.personal__list {
    column-gap: 45px;
    display: flex;
}

.personal__item {
    margin-right: 45px;
}

.personal__link {
    display: flex;
}

.personal__icon {

}

.personal__cart-count {
    background-color: #fff;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 10px;
    color: #000000;
}

.header__socials {

}

.socials {

}

.socials__list {
    display: flex;
    column-gap: 10px;
}

.socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 35px;
    max-width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
}

.socials__icon {

}

.socials__pinterest-icon {

}

.socials__instagram-icon {

}

.header__content {
    display: flex;
    justify-content: center;
}

.header__btn {
    width: 280px;
    height: 70px;
}

.btn {
    font-family: 'MuliExtraBold', sans-serif;
    border-radius: 35px;
    font-size: 24px;
    padding: 0 38px;
    font-family: 'MuliExtraBold', sans-serif;
}

.btn--green {
    background-color: #0aa566;
}

.smoothies {
    padding: 100px 0 60px;
}
.smoothies__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.smoothies__title {
    text-align: center;
    margin-bottom: 25px;
    color: #f7ae3b;
}

.title {
    font-family: 'MuliExtraBold', sans-serif;
    font-size: 50px;
    line-height: 0.8;
    letter-spacing: -1px;
}

.smoothies__text {
    
}

.text {
    margin-bottom: 60px;
    max-width: 915px;
    font-family: 'MuliRegular', sans-serif;
    text-align: center;
    font-size: 18px;
    line-height: 1.94;
}

.text--black {
    color: #1e1e1e;
}

.smoothies__wrapper {
    display: flex;    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1010px;
}

.smoothies__inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 190px;
    width: 25%;
    padding: 0 10px 25px;
}

.smoothies__img {
}

.smoothies__subtitle {
    font-family: 'MuliExtraBold', sans-serif;
    font-size: 25px;
    line-height: 1.6;
    letter-spacing: -0.5px;
    color: #f2612d;
    text-align: center;
    margin-top: 25px;
}

.about {
    background-color: #14826f;
    display: flex;
    

}

.about__img {
    margin-top: 64px;
    margin-right: 179px;
}

.about__benefits {
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.about__title {
    font-size: 55px;
    line-height: 1.09;
    letter-spacing: -1.1px;
    margin-top: 97px;
    margin-bottom: 47px;
    max-width: 600px;
}

.title--yellow {
    color: #cae941;
}

.about__list {
    
}

.about__item {
    font-family: 'MuliRegular', sans-serif;
    font-size: 21px;
    line-height: 1.05;
    list-style-image: url(../assets/images/about/item.png);
    list-style-position: inside;
    margin-bottom: 50px;
}

.about__item--bold {
    font-family: 'MuliExtraBold', sans-serif;
}

.about__btn {
    border: solid;
    border-color: #f8b231;
    font-family: 'MuliExtraBold', sans-serif;
    font-size: 21px;
    line-height: 1.05;
    width: 380px;
    height: 60px;
    margin-bottom: 94px;
}

.btn {

}

.products {

}
.products__box {
    display: flex;
}

.products__item {
    width: 480px;
  height: 720px;
    
}

.products__item--chocolate {
    background-color: #632b17;
}
.products__img {
}
.products__title {
    width: 291px;
    height: 50px;
    font-family: 'MuliBold', sans-serif;
    font-size: 24px;
    line-height: 0.92;
    letter-spacing: normal;
    text-align: center;
}
.products__quantity {
    font-family: 'MuliItalic', sans-serif;
    font-size: 21px;
    line-height: 1.52;
}

.products__btn {
    width: 204px;
    height: 60px;
    border-radius: 30px;
    border: solid 2px #fff;
    margin-top: 65px;
    margin-bottom: 79px;
}
.products__item--vegan {
    background-color: #178670;
}
.products__item--lemon {
    background-color: #f7ae3b;
}
.products__item--turmeric {
    background-color: #c3471b;
}




.story {
    display: flex;
}
.story__left-block {

}
.story__title {
}
.title--orange {
}
.story__text {
    font-family: 'MuliRegular', sans-serif;
    font-size: 18px;
    line-height: 1.94;
    letter-spacing: normal;
    color: #1e1e1e;
}
.text {
}
.text--black {
}
.story__btn {
}
.btn--green {
}
.story__right-block {
}
.story__img {
}
.testimonials {
    background-color: #672f1b;
}
.testimonials__title {
    font-family: 'MuliExtraBold', sans-serif;
    font-size: 50px;
    line-height: 0.8;
    letter-spacing: -1px;
    color: #f7ae3b;
}
.title--orange {
    color: #f2612d;
}
.testimonials__wrapper {
    display: flex;
}
.testimonials__feedback {
}
.testimonials__blockquote {
    font-family: 'MuliSemiBoldItalic', sans-serif;
    font-size: 18px;
    line-height: 1.94;
    letter-spacing: normal;
}

.testimonials__author {
    color: #f7ae3b;
}
.testimonials__img {
}
.testimonials__controls {
}
.testimonials__btn {
}
.btn--right {
}
.blog {
}
.blog__top {
}
.blog__title {
}
.article {
    display: flex;
}
.article__img {
}
.article__wrapper {
}
.article__title {
    width: 539px;
    height: 22px;
    margin: 50px 21px 20px 16px;
    font-family: 'MuliExtraBold', sans-serif;
    font-size: 30px;
    line-height: 1.33;
    letter-spacing: -0.6px;
    text-align: left;
    color: #f2612d;
}
.article__time {
    width: 94px;
    height: 14px;
    margin: 20px 82px 45px 16px;
    font-family: 'MuliRegular', sans-serif;
    font-size: 16px;
    line-height: 2.19;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
}

.article__text {
    font-family: 'MuliRegular';
    font-size: 18px;
    line-height: 1.94;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
}
.article__link {
    font-family: 'MuliBoldItalic', sans-serif;
}
.instagram {
}
.instagram__title {
    margin: 202px 82px 45px 12px;
    font-family: 'MuliExtraBold', sans-serif;
    font-size: 24px;
    line-height: 1.67;
    letter-spacing: -0.48px;
    color: #0aa566;
    text-align: center;
}
.title--green {
}
.instagram__link {
}
.instagram__wrapper {
    display: flex;
}
.instagram__photo {
}
.instagram__img {
}

.footer__top {
    display: flex;
    background-color: #f6ab3b;
}
.footer__logo {
}
.logo {
}
.logo__link {
}
.logo__img {
}
.footer__info {
}
.info {
}
.info__title {
    width: 141px;
    height: 20px;
    margin: 0 171px 34px 293px;
    font-family: 'MuliExtraBold', sans-serif;
    font-size: 26px;
    line-height: 1.54;
    letter-spacing: -0.52px;
    text-align: left;
}
.info__list {
    width: 159px;
    height: 122px;
    margin: 37px 152px 15px 294px;
}
.info__item {
    font-family: 'MuliBold', sans-serif;
    font-size: 18px;
    line-height: 1.94;
    letter-spacing: -0.36px;
    text-align: left;
    color: #6d450c;
}
.footer__payment {
}
.payment {
}
.payment__title {
    width: 107px;
    height: 25px;
    margin: 1px 12px 28px 154px;
    font-family: 'MuliExtraBold', sans-serif;
    font-size: 26px;
    line-height: 1.54;
    letter-spacing: -0.52px;
    text-align: left;
}
.payment__list {
}
.payment__item {
    

}
.payment__img {
}
.footer__subscription {
}
.subscription {
}
.subscription__title {
}
.subscription__form {
}
.subscription__input {
}
.subscription__submit {
}
.subscription__wrap {
    display: flex;
}
.subscription__btn {
    margin: 7px 43px 0 3px;
    font-family: 'MuliExtraBold', sans-serif;
    font-size: 18px;
    line-height: 2.22;
    letter-spacing: -0.36px;
    text-align: left;
    color: #6d450c;
}
.subscription__socials {
}
.social {
}
.social__list {
}
.social__item {
}
.social__link {
}
.social__icon {
}
.footer__bottom {
    background-color: #6c2c1c;
    display: flex;
}
.footer__copyright {
    font-family: 'MuliRegular', sans-serif;
    width: 178px;
    height: 13px;
    margin: 1px 660px 0 0;
    font-size: 13px;
    line-height: 2.69;
    letter-spacing: 0.26px;
    text-align: center;
    color: #af8a82;
}

.footer__link {
}
